@import url(media-queries.css);
::selection{
  background-color: #1a283b;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  position: relative;
  z-index: -100;
}

.menu-burger-bg{
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 150px;
  height: 150px;
  background: linear-gradient(45deg, transparent 50%, rgba(26,40,59,1) 100%);
  z-index: 900;
}

.bar {
  display: none;
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: x-large;
  z-index: 1000;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}

.bar:hover {
  color: #5394ac;
}

.navbar {
  width: 100%;
  height: 65px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 21;
  background-color: #09131f;
}

.navbar ul {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 40px;
  height: 50%;
}

.navbar ul a {
  font-size: small;
  margin: 0 25px;
  padding: 5px;
}

.navbar ul li {
  color: #fff;
  font-weight: 100;
  transition: 0.3s;
}

.navbar ul a:not(.navbar ul a:last-child) li:hover {
  color: #5394ac;
}

.navbar ul a:last-child {
  color: #fff;
  background-color: #61a3ba;
  border-radius: 40px;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 80px;
  z-index: 10;
  transition: 0.5s;
}

.navbar ul a:last-child i {
  font-size: smaller;
  color: #fff;
  margin-right: 5px;
}

.navbar ul a:last-child:hover {
  background-color: #3c7f97;
}

.logo {
  margin-left: 40px;
  width: 100px;
  height: 50%;
  background-image: url("../img/logo.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sidebar * {
  color: #fff;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  flex-direction: column;
  justify-content: start;
  text-align: right;
  width: 70%;
  height: 100%;
  background-color: #002438c0;
  backdrop-filter: blur(5px);
  z-index: 1000;
  padding: 30px 20px;
}

.sidebar .fa-xmark {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 25px;
  cursor: pointer;
  transition: 0.5s;
}

.sidebar .fa-xmark:hover {
  color: #3c7f97;
}

.sidebar ul {
  width: 100%;
  margin-top: 40px;
}

.sidebar ul a:last-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.sidebar ul a:last-child i {
  margin-left: 8px;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  width: 70%;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 5px 0 0;
  padding: 0px 10px;
  transition: 0.5s;
}

.sidebar ul li:hover {
  background-color: #3c7f9752;
}

/* Page Number 1 */
.Container1 {
  color: #fff;
  width: 100%;
  height: 100vh;
  background-image: url("../img/img3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Container1::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background: radial-gradient(#09131fa6,
      #09131fc9,
      #09131fe7,
      #09131ff1,
      #09131ffb,
      #09131f);
  z-index: -1;
}

.head * {
  color: #fff;
}

.head {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  z-index: 20;
}

.head h1 {
  position: relative;
  width: 200px;
  font-size: 40px;
  font-weight: 900;
}

.head h1::after {
  content: "";
  width: 200px;
  height: 300px;
  border: 2px solid #61a3ba;
  position: absolute;
  top: -40px;
  left: -100px;
  border-right: none;
  z-index: -1;
}

.head h1::before {
  content: "";
  width: 30px;
  height: 60px;
  position: absolute;
  top: -40px;
  right: 98px;
  border-right: 2px solid #61a3ba;
}

.head h3 {
  width: 250px;
  font-weight: 700;
  position: relative;
}

.head p {
  text-align: left;
  width: auto;
  font-weight: 100;
  font-size: smaller;
  position: relative;
  min-width: 220px;
}

.head h3::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 690%;
  right: 148px;
  border-right: 2px solid #61a3ba;
}

.head button {
  width: 130px;
  padding: 3px;
  background-color: #5394ac;
  border: none;
  border-radius: 50px;
  font-size: small;
  cursor: pointer;
  transition: 0.5s;
}

.head button i {
  margin-left: 8px;
  background-color: #3c7f97;
  padding: 5px 8px;
  border-radius: 50%;
}

.head button:hover {
  background-color: #3c7f97;
}

.followUs * {
  color: #fff;
}

.followUs {
  position: absolute;
  bottom: 20px;
  left: 10px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  height: auto;
}

.followUs span {
  transform: rotate(90deg);
  margin-bottom: 20px;
}

.followUs hr {
  height: 50px;
  border-radius: 50%;
  margin: 15px 0;
}

.followUs i {
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  cursor: pointer;
  transition: 0.5s;
}

.followUs .fa-twitter:hover {
  color: #1da1f2;
  border: 1px solid #1da1f2;
}

.followUs .fa-instagram:hover {
  color: #fa1e97;
  border: 1px solid #fa1e97;
}

.followUs .fa-youtube:hover {
  color: #f00;
  border: 1px solid #f00;
}

#hiddenTXT{
  cursor: pointer;
  color: #bbb;
  transition: color .26s ease;
}

#hiddenTXT:hover{
  color: #1db6f2;
}

/* page number 2 */

.container2 {
  width: 100%;
  height: 100vh;
  background-color: #ffffffdb;
  background-image: url("../img/img2.jpg");
  background-size: cover;
  background-blend-mode: color;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
}

.picturs {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  gap: 20px;
  margin-bottom: 30px;
}

.picturs img {
  position: relative;
  width: 150px;
  height: 150px;
  border: 1px solid #3f4d5e;
  border-radius: 5px;
  z-index: 2;
  margin-right: 90px;
}

.picturs img:nth-child(2) {
  position: absolute;
  right: 20px;
  z-index: 3;
  margin: 0;
}

.picturs img:nth-child(3) {
  position: relative;
  z-index: 4;
}

.picturs::after {
  content: "";
  width: 150px;
  height: 250px;
  position: absolute;
  border: 2px solid #fd0037;
  right: 50px;
  z-index: 1;
}

.discription {
  max-width: 500px;
  min-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin-top: 20[x];
}

.disHead {
  width: 100%;
}

.discription .bluepiece {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.discription .bluepiece span {
  font-size: small;
  color: #3c7f97;
  font-weight: 700;
}

.discription .bluepiece hr {
  width: 60%;
  height: 1.5px;
  margin-left: 5px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: #1da1f2;
}

.discription p {
  line-height: 25px;
}

.discription button {
  width: 150px;
  padding: 5px 0 5px 5px;
  background-color: #5394ac;
  border: none;
  border-radius: 50px;
  font-size: small;
  cursor: pointer;
  transition: 0.5s;
  color: #fff;
}

.discription button i {
  margin-left: 8px;
  background-color: #3c7f97;
  padding: 5px 8px;
  border-radius: 50%;
  color: #fff;
}

.discription button:hover {
  background-color: #3c7f97;
}

/* Page Number 2 */

.container3 {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.con3head {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  gap: 5px;
}

.lines {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.lines hr {
  width: 10%;
  height: 1px;
  margin: 5px;
  background-color: #1da1f2;
  border: none;
}

.lines span {
  font-size: medium;
  color: #3c7f97;
  font-weight: 700;
}

.con3head h2 {
  font-size: xx-large;
}

.con3head b {
  font-size: small;
}

.con3main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.services {
  width: 220px;
  height: 300px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  text-align: center;
  gap: 15px;
  position: relative;
  transition: 0.8s;
}

.f-service{
  line-height: 17px;
}
.s-service{
  line-height: 19px;
}
.th-service{
  line-height: 21.5px;
}

.services:hover {
  transform: scale(1.09);
}

.services h3 {
  font-weight: 900;
  font-size: larger;
}

.services img {
  width: 70px;
  height: 70px;
  background: #1a283b;
  position: absolute;
  top: 10px;
  border-radius: 50%;
}

/* Page Number 4 */

.container4 {
  width: 100%;
  height: 100%;
  background-color: #09131f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container4 * {
  color: #fff;
}

.con4head {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  gap: 5px;
}

.con4head h2 {
  font-size: xx-large;
  font-weight: 600;
}

.con4head p {
  font-size: 15px;
  max-width: 500px;
  text-align: center;
}

.con4main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cvcons {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.cvcards {
  width: 210px;
  height: 280px;
  margin: 30px 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: start;
  gap: 15px;
  position: relative;
  transition: 0.8s;
  border: 1px solid #3c7f97;
  border-radius: 3px;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

.cvcard-profile {
  width: 55px;
  height: 55px;
  position: absolute;
  top: 20px;
  border-radius: 100%;
  border: 2px solid #09131f;
  z-index: 1;
  background-blend-mode: multiply;
  background-color: rgba(255, 255, 255, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.arvin-profile{
  background-image: url(../img/arvin-profile.jpg);
}
.arsalan-profile{
  background-image: url(../img/arsalan-profile.jpg);
}
.ali-profile{
  background-image: url(../img/aay-profile.png);
}
.amir-profile{
  background-image: url(../img/amir-profile.jpg);
}

.amz {
  background-image: url(../img/AMZ.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(153, 5, 5, 0.438);
}
.arc {
  background-image: url(../img/arsalan-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.92);
}
.aay {
  background-image: url(../img/aay-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(17, 2, 2, 0.83);
}
.amp {
  background-image: url(../img/amp-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(81, 0, 0, 0.85);
}

.cvcards:hover {
  transform: scale(1.05);
}

.cvcards::after {
  content: "";
  width: 208px;
  height: 278px;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(3px);
  z-index: 0;
}

.cvcards span {
  z-index: 1;
  font-weight: 800;
}

.cvcards p {
  z-index: 1;
}

.cvcards a {
  color: #fff;
  padding: 7px 10px;
  border-radius: 4px;
  z-index: 1;
  font-size: small;
  text-decoration: none;
  background-color: #205568;
  transition: background-color .3s ease-in-out;
}

.cvcards a:hover {
  background-color: #173d4b;
}

/* Page Number 5 */

.container5 {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.con5main {
  width: 80%;
  margin: 20px;
  padding: 10px;
  gap: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.bdr {
  position: relative;
}

.bdr::after {
  content: "";
  width: 230px;
  height: 180px;
  position: absolute;
  top: -10px;
  left: -10px;
  border: 2px solid #fd0037;
}

.con5main-img {
  width: 230px;
  height: 180px;
  border-radius: 5px;
  background-blend-mode: multiply;
  background-color: rgba(26, 40, 59, 0.678);
  position: relative;
  z-index: 5;
}
.con5main-img1{
  background-image: url(../img/img4.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.con5main-img2{
  background-image: url(../img/img1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.con5disc {
  height: 100%;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.con5disc span {
  font-size: larger;
  font-weight: 900;
}

.con5disc button {
  width: 150px;
  padding: 5px 0 5px 5px;
  background-color: #5394ac;
  border: none;
  border-radius: 50px;
  font-size: small;
  cursor: pointer;
  transition: 0.5s;
  color: #fff;
}

.con5disc button i {
  margin-left: 8px;
  background-color: #3c7f97;
  padding: 5px 8px;
  border-radius: 50%;
  color: #fff;
}

.con5disc button:hover {
  background-color: #3c7f97;
}

/* Page Number 6 */

.container6 * {
  color: #fff;
  z-index: 3;
}

.container6 {
  width: 100%;
  height: 400px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../img/img3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  padding: 20px 60px;
  position: relative;
}

.container6::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: inherit;
  height: inherit;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background: radial-gradient(#09131fa6,
      #09131fc9,
      #09131fe7,
      #09131ff1,
      #09131ffb,
      #09131f);
  z-index: 2;
}

.con6main {
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.con6main h2 {
  font-size: xx-large;
}

.con6main p {
  width: 350px;
  margin-bottom: 20px;
  font-size: 15px;
}

.con6main button {
  width: 150px;
  padding: 5px;
  background-color: #5394ac;
  border: none;
  border-radius: 50px;
  font-size: small;
  transition: 0.5s;
  color: #fff;
  cursor: pointer;
}

.con6main button i {
  margin-left: 12px;
  background-color: #3c7f97;
  padding: 5px 8px;
  border-radius: 50%;
  color: #fff;
}

.con6main button:hover {
  background-color: #3c7f97;
}

footer {
  width: 100%;
  padding: 20px;
  background-color: #c9c9c9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.leftside {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.footerlogo {
  width: 100px;
  height: 100px;
  border-radius: 3px;
  background-blend-mode: multiply;
  background-color: rgba(158, 158, 158, 0.87);
  background-image: url(../img/footer-logo.jpg);
  background-position: center center;
  background-size: contain;
}

.hrs {
  margin: 0px;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.hrs hr:nth-child(1) {
  width: 20px;
  height: 3px;
  border: none;
  background-color: #205568;
  border-radius: 5px;
}

.hrs hr:nth-child(2) {
  width: 30px;
  height: 1px;
  border: none;
  background-color: #5394ac;
  text-align: center;
}

.icons i {
  font-size: medium;
  width: 30px;
  height: 30px;
  color: #3c7f97;
  text-align: center;
  padding: 6px 0;
  background-color: inherit;
  border: 1px solid #3c7f97;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}

.icons i:hover {
  background-color: #3c7f97;
  color: #c9c9c9;
}

.rightside {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.R-Items-Container {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

}

.rightItems {
  width: 100px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  position: relative;
  margin: 0 20px;
}

.rightItems h2 {
  width: 120px;
}

.rightItems::before {
  content: "";
  width: 1px;
  height: 100px;
  background: #000;
  position: absolute;
  left: -30px;
}

.rightItems ul li {
  width: 100px;
  padding: 5px;
  border-radius: 5px;
  transition: 0.5s;
  display: flex;
  align-items: center;
}

.rightItems ul li:hover {
  background-color: #a0a0a0d0;
}

.contact-options{
  display: block;
  color: #318fb1;
  margin: 10px 0;
  padding: 4px 0;
  border-bottom: 1px solid rgba(83, 148, 172, 0.199);
  cursor: pointer;
  transition: color .3s ease-in-out;
}

.contact-options:hover{
  color: #fff;
}

